<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1>Towns Index</h1>

<p>
    <a if.bind="isAdmin" route-href="route: towns-create; params.bind: {}">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr repeat.for="town of _towns">
            <td>
                ${town.name}
            </td>
            <td>
                <a route-href="route: towns-edit; params.bind: { id: town.id }">Edit</a> |
                <a route-href="route: towns-details; params.bind: { id: town.id }">Details</a> |
                <a route-href="route: towns-delete; params.bind: { id: town.id }">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</template>
