<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Create</h1>
    <h4>Drink</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                    <label class="control-label" for="Name">Name</label>
                    <input class="form-control" type="text" id="Name" maxlength="256" value.bind="drink.name" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Size">Size</label>
                    <input class="form-control" type="text" id="Size" maxlength="64" value.bind="drink.size" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Amount">Amount</label>
                    <input class="form-control" type="text" id="Amount" maxlength="64" value.bind="drink.amount" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="PriceId">Price</label>
                    <select class="form-control" data-val="true", type="text" id="PriceId" maxlength="256" value.bind="drink.priceId">
                    <option model.bind="null">Choose a price</option>
                    <option repeat.for="price of _prices" model.bind="price.id">${price.value}</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a route-href="route: drinks-index; params.bind: { }">Back to List</a>
    </div>

</template>
