<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>
    


    <h1 class="text-center">Drinks</h1>
    <br>
    <br>
    <p>
        <a if.bind="isAdmin" route-href="route: drinks-create; params.bind: {}">Create New</a>
    </p>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Size
                </th>
                <th>
                    <a style="margin-left:33px">Amount</a>
                </th>
                <th>
                    Price
                </th>
                <th>

                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="drink of _drinks">
                <td>
                    ${drink.name}
                </td>
                <td>
                    ${drink.size}L
                </td>
                <td>
                    <button style="font-size: 10px; margin-right:30px" class="btn btn-primary btn-sm" click.trigger="decrement(drink.id)" type="button"> <span class ="fa fa-minus"></span></button>
                    ${drink.amount}
                    <button style="font-size: 10px; margin-left:30px" class="btn btn-primary btn-sm" click.trigger="increment(drink.id)" type="button"> <span class ="fa fa-plus"></span></button>
                </td>
                <td>
                    ${drink.price.toFixed(2)}€
                </td>
                <td>
                    <button click.trigger="addToCart(drink)" style="margin:auto; display:block" type="button"
                        class="btn btn-success">Add to cart</button>
                </td>
                <td>
                    <a if.bind="isAdmin" route-href="route: drinks-edit; params.bind: { id: drink.id }">Edit</a>
                    <button style="float: right" if.bind="isAdmin" click.trigger="deleteOnClick(drink)" type="button"
                        class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</template>
