<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1>Details</h1>

    <div>
        <h4>Campaign</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                ${campagin.name}
            </dd>
            <dt class="col-sm-2">
                From
            </dt>
            <dd class="col-sm-10">
                ${campagin.from}
            </dd>
            <dt class="col-sm-2">
                To
            </dt>
            <dd class="col-sm-10">
                ${campagin.to}
            </dd>
            <dt class="col-sm-2">
                Comment
            </dt>
            <dd class="col-sm-10">
                ${campagin.comment}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: campaigns-edit; params.bind: { id: campagin.id }">Edit</a> |
        <a route-href="route: campaigns-index; params.bind: { }">Back to List</a>
    </div>
</template>
