<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>
    
    <h1>Create</h1>
    <h4>Person</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                    <label class="control-label" for="FirstName">First name</label>
                    <input class="form-control" type="text" id="FirstName" maxlength="128" value.bind="_firstName" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="LastName">Last name</label>
                    <input class="form-control" type="text" id="LastName" maxlength="128" value.bind="_lastName" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Sex">Sex</label>
                    <input class="form-control" type="text" id="Sex" maxlength="1" value.bind="_sex" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="DateOfBirth">Date of birth</label>
                    <input class="form-control" type="text" id="DateOfBirth" value.bind="_dateOfBirth" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a route-href="route: persons-index; params.bind: { }">Back to List</a>
    </div>

</template>
