<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1>Edit</h1>

    <h4>Town</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                    <label class="control-label" for="FirstName">FirstName</label>
                    <input class="form-control" type="text" id="FirstName" maxlength="128" value.bind="_person.firstName" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="LastName">LastName</label>
                    <input class="form-control" type="text" id="LastName" maxlength="128" value.bind="_person.lastName" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Sex">Sex</label>
                    <input class="form-control" type="text" id="Sex" maxlength="1" value.bind="_person.sex" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="DateOfBirth">DateOfBirth</label>
                    <input class="form-control" type="text" id="DateOfBirth" maxlength="128" value.bind="_person.dateOfBirth" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a route-href="route: persons-index; params.bind: { }">Back to List</a>
    </div>

</template>
