<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Persons Index</h1>
    <p>
        <a route-href="route: persons-create; params.bind: {}">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    FirstName
                </th>
                <th>
                    LastName
                </th>
                <th>
                    Sex
                </th>
                <th>
                    DateOfBirth
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="person of _persons">
                <td>
                    ${person.firstName}
                </td>
                <td>
                    ${person.lastName}
                </td>
                <td>
                    ${person.sex}
                </td>
                <td>
                    ${person.dateOfBirth}
                </td>
                <td>
                    <a route-href="route: persons-edit; params.bind: { id: person.id }">Edit</a> |
                    <a route-href="route: persons-details; params.bind: { id: person.id }">Details</a> |
                    <a route-href="route: persons-delete; params.bind: { id: person.id }">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

</template>
