@model Domain.App.Ingredient

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ingredient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodId" class="control-label"></label>
                <select asp-for="FoodId" class="form-control" asp-items="ViewBag.FoodId"></select>
                <span asp-validation-for="FoodId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangedBy" class="control-label"></label>
                <input asp-for="ChangedBy" class="form-control" />
                <span asp-validation-for="ChangedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangedAt" class="control-label"></label>
                <input asp-for="ChangedAt" class="form-control" />
                <span asp-validation-for="ChangedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
