<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1 class="text-center">Add an answer for the question</h1>
    <h3 class="text-center">${question.description}</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                    <label class="control-label" for="Name">Answer</label>
                    <input class="form-control" type="text" id="Name" maxlength="256" value.bind="choice.value" />
                </div>

                <div if.bind="quiz.totalPoints !== null">
                    Is this the correct answer?
                </div>

                <div class="form-check" if.bind="quiz.totalPoints !== null">
                    <input class="form-check-input" type="radio" name="exampleRadiosName${question.number}"
                        id="exampleRadiosId1" model.bind="true" checked.bind="choice.isAnswer">
                    <label class="form-check-label" for="exampleRadios1">
                        Yes
                    </label>
                </div>

                <div class="form-check" if.bind="quiz.totalPoints !== null">
                    <input class="form-check-input" type="radio" name="exampleRadiosName${question.number}"
                        id="exampleRadiosId1" model.bind="false" checked.bind="choice.isAnswer">
                    <label class="form-check-label" for="exampleRadios1">
                        No
                    </label>
                    <br>
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


    <div class="form-group">
        <button click.trigger="navigateBack()" type="button" class="btn btn-warning active">Back to questions</button>
    </div>

</template>
