<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1>Ingredients</h1>

    <p>
        <a if.bind="isAdmin" route-href="route: ingredients-create; params.bind: {}">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Food
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="ingredient of _ingredients">
                <td>
                    ${ingredient.name}
                </td>
                <td>
                    ${ingredient.food}
                </td>
                <td>
                    ${ingredient.price.toFixed(2)}€
                </td>
                <td>
                    <a if.bind="isAdmin" route-href="route: ingredients-edit; params.bind: { id: ingredient.id }"
                        class="btn btn-primary active" role="button">Edit</a>
                    <button style="float: right" if.bind="isAdmin" click.trigger="deleteOnClick(ingredient)"
                        type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</template>
