<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1>Details</h1>

    <div>
        <h4>Price</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Value
            </dt>
            <dd class="col-sm-10">
                ${price.value}
            </dd>
            <dt class="col-sm-2">
                From
            </dt>
            <dd class="col-sm-10">
                ${price.from}
            </dd>
            <dt class="col-sm-2">
                To
            </dt>
            <dd class="col-sm-10">
                ${price.to}
            </dd>
            <dt class="col-sm-2">
                Campaign
            </dt>
            <dd class="col-sm-10">
                ${price.campaign}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: prices-edit; params.bind: { id: price.id }">Edit</a> |
        <a route-href="route: prices-index; params.bind: { }">Back to List</a>
    </div>
</template>
