<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1>Prices</h1>

    <p>
        <a if.bind="isAdmin" route-href="route: prices-create; params.bind: {}">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Value
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    Campaign
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="price of _prices">
                <td>
                    ${price.value.toFixed(2)}€
                </td>
                <td>
                    ${price.from}
                </td>
                <td>
                    ${price.to}
                </td>
                <td>
                    ${price.campaign}
                </td>
                <td>
                    <a if.bind="isAdmin" route-href="route: prices-edit; params.bind: { id: price.id }"
                        class="btn btn-primary active" role="button">Edit</a>
                    <button style="float: right" if.bind="isAdmin" click.trigger="deleteOnClick(price)" type="button"
                        class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</template>
