<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1>Create a brand new quiz</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                    <label class="control-label" for="Name">Name of the quiz</label>
                    <input class="form-control" type="text" id="Name" maxlength="256" value.bind="quiz.name"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="TotalPoints">Total points for the quiz</label>
                    <input class="form-control" type="text" id="TotalPoints" maxlength="256" value.bind="quiz.totalPoints"/>
                </div>
                

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    

    <div>
        <a route-href="route: home; params.bind: {}" class="btn btn-warning active" role="button">Back to quizzes</a>
    </div>

</template>
