<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1 class="text-center">Cart items</h1>

    <div>
        <h5 class="text-center"> </h5>
    </div>
    <br>
    <br>
    <p>
        <a if.bind="isAdmin" route-href="route: orderitems-create; params.bind: {}">Create New</a>
    </p>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    Items
                </th>
                <th>
                    Order
                </th>
                <th>
                    <a style="margin-left:33px">Quantity</a </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="orderItem of _orderItems">
                <td>
                    <h6>${orderItem.food}</h6>
                    <h6>${orderItem.drink}</h6>
                    <em>${orderItem.ingredient}</em>
                </td>
                <td>
                    #${orderItem.order}
                </td>
                <td>
                    <button style="font-size: 10px; margin-right:30px" class="btn btn-primary btn-sm"
                        click.trigger="decrement(orderItem.id)" type="button"> <span
                            class="fa fa-minus"></span></button>
                    ${orderItem.quantity}
                    <button style="font-size: 10px; margin-left:30px" class="btn btn-primary btn-sm"
                        click.trigger="increment(orderItem.id)" type="button"> <span class="fa fa-plus"></span></button>
                </td>
                <td>
                    <p if.bind="orderItem.foodPrice > 0" value.bind="foodPrice">${(orderItem.quantity *
                        (orderItem.foodPrice +
                        orderItem.ingredientPrice)).toFixed(2)}€</p>
                    <p if.bind="orderItem.drinkPrice > 0">${(orderItem.quantity * (orderItem.drinkPrice)).toFixed(2)}€
                    </p>
                </td>
                <td>
                    <button style="float: right" click.trigger="deleteOnClick(orderItem)" type="button"
                        class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <br>
    <table class="table table-borderless">
        <th>
            <h4 class="text-center">Your current total: ${totalSum.toFixed(2)}€</h4>
        </th>
    </table>

    <div class="text-center">
        <!-- Button to trigger modal -->
        <button if.bind="_orderItems.length > 0" data-toggle="modal" data-target="#exampleModal" type="button"
            class="btn btn-success">Proceed to checkout </button>
    </div>

    <br>
    <br>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Please enter your contact details ${firstName}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p>
                        Address
                        <input if.bind="addressIsSet() == false">
                        <b if.bind"addressIsSet()">${address}</b>
                    </p>
                    <p>
                        Phone number
                        <input if.bind="phoneNrIsSet() == false">
                        <b if.bind"phoneNrIsSet()">${phoneNr}</b>
                    </p>
                    <p>
                        Order type - 
                    <b>${orderType}</b>
                    </p>
                    <p>
                        Payment type
                        <label repeat.for="paymentType of _paymentTypes">
                            <input type="radio" name="group1"><a>${paymentType.name}</a>
                        </label>
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Checkout</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</template>
