<template>

    <h1>Manage your account</h1>

    <div>
        <h4>Change your account settings</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a class="nav-link" id="profile"
                            route-href="route: account-manage; params.bind: { }">Profile</a></li>
                    <li class="nav-item"><a class="nav-link active" id="email"
                            route-href="route: account-manageEmail; params.bind: { }">Change email</a></li>
                    <li class="nav-item"><a class="nav-link" id="change-password"
                            route-href="route: account-managePassword; params.bind: { }">Change password</a></li>
                    <li class="nav-item"><a class="nav-link" id="address-phonenr"
                            route-href="route: account-manageContacts; params.bind: { }">Contacts</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-9">


                <h4>Manage Email</h4>


                <div class="row">
                    <div class="col-md-6">
                        <form id="email-form" method="post" submit.trigger="onSubmit($event)">
                            <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                                <ul>
                                    <li style="display:none"></li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input class="form-control" disabled type="text" data-val="true"
                                    data-val-required="The Email field is required." id="Email" name="Email"
                                    value.bind="_email" />
                                <!-- <button id="email-verification" type="submit" class="btn btn-link" formaction="/Identity/Account/Manage/Email?handler=SendVerificationEmail">Send verification email</button> -->
                            </div>
                            <div class="form-group">
                                <label for="Input_NewEmail">New email</label>
                                <input class="form-control" type="email" data-val="true"
                                    data-val-required="The New email field is required." id="Input_NewEmail"
                                    name="Input.NewEmail" value.bind="_newEmail" />
                                <span class="text-danger field-validation-valid" data-valmsg-for="Input.NewEmail"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <button id="change-email-button" type="submit" class="btn btn-primary">Change email</button>
                    </div>
                </div>

</template>
