<template>

    <h1>Manage your account</h1>

    <div>
        <h4>Change your account settings</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a class="nav-link" id="profile"
                            route-href="route: account-manage; params.bind: { }">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" id="email"
                            route-href="route: account-manageEmail; params.bind: { }">Change email</a></li>
                    <li class="nav-item"><a class="nav-link active" id="change-password"
                            route-href="route: account-managePassword; params.bind: { }">Change password</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" id="personal-data" href="/Identity/Account/Manage/PersonalData">Personal data</a></li> -->
                </ul>

            </div>
            <div class="col-md-9">


                <h4>Change password</h4>


                <div class="row">
                    <div class="col-md-6">
                        <form id="change-password-form" method="post" submit.trigger="onSubmit($event)">
                            <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                                <ul>
                                    <li style="display:none"></li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <label for="Input_OldPassword">Current password</label>
                                <input class="form-control" type="password" data-val="true"
                                    data-val-required="The Current password field is required." id="Input_OldPassword"
                                    name="Input.OldPassword" value.bind="oldPassword"/>
                                <span class="text-danger field-validation-valid" data-valmsg-for="Input.OldPassword"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <label for="Input_NewPassword">New password</label>
                                <input class="form-control" type="password" data-val="true"
                                    data-val-length="The New password must be at least 6 and at max 100 characters long."
                                    data-val-length-max="100" data-val-length-min="6"
                                    data-val-required="The New password field is required." id="Input_NewPassword"
                                    maxlength="100" name="Input.NewPassword" value.bind="newPassword"/>
                                <span class="text-danger field-validation-valid" data-valmsg-for="Input.NewPassword"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <label for="Input_ConfirmPassword">Confirm new password</label>
                                <input class="form-control" type="password" data-val="true"
                                    data-val-equalto="The new password and confirmation password do not match."
                                    data-val-equalto-other="*.NewPassword"
                                    data-val-required="The Confirm new password field is required."
                                    id="Input_ConfirmPassword" name="Input.ConfirmPassword" value.bind="confirmPassword"/>
                                <span class="text-danger field-validation-valid" data-valmsg-for="Input.ConfirmPassword"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Update password</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>

</template>
