<template>
    <h1 class="text-center">Welcome to Healthy-Me!</h1>

    <br>
    <br>
    <div class="text-center" if.bind="appState.jwt == null">
        <h3>Please register or log in to start ordering some tasty food</h3>
    </div>

    <div if.bind="appState.jwt !== null" class="text-center">
        <div>
            <a route-href="route: orders-index; params.bind: { }">Click here to view or create your order!</a>
        </div>
    
        <div>
            <a route-href="route: campaigns-index; params.bind: { }">Click here to see ongoing campaings!</a>
        </div>
    
        <div>
            <a route-href="route: restaurants-index; params.bind: { }">Click here to see our restaurants!</a>
        </div>
    </div>
</template>
