<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1>Contacts Index</h1>

    <p>
        <a route-href="route: contacts-create; params.bind: {}">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Contact type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="contact of _contacts">
                <td>
                    ${contact.name}
                </td>
                <td>
                    ${contact.contactType}
                </td>
                <td>
                    <a route-href="route: contacts-edit; params.bind: { id: contact.id }">Edit</a>
                    <span>|</span>
                    <a route-href="route: contacts-details; params.bind: { id: contact.id }">Details</a> 
                    <button style="float: right" click.trigger="deleteOnClick(contact)" type="button"
                        class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</template>
