<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1 class="text-center">Foods</h1>
    <div>
        <h4 class="text-center">Select your order</h4>
        <h6 class="text-center">P.S if the list is empty please go and create an order for yourself by clicking here ->
            <a route-href="route: orders-create; params.bind: { }">Click me</a></h6>
    </div>
    <div class="form-group">
        <label class="control-label" for="OrderId"></label>
        <select class="form-control" data-val="true" , type="text" id="OrderId" maxlength="256"
            value.bind="selectedOrderId">
            <option repeat.for="order of _orders" model.bind="order.id">[Number #${order.number}] \/ [Created at:
                ${order.timeCreated}]</option>
        </select>
    </div>

    <p>
        <a if.bind="isAdmin" route-href="route: foods-create; params.bind: {}">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Size
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Food type
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="food of _foods">
                <td>
                    ${food.name}
                </td>
                <td>
                    ${food.description}
                </td>
                <td>
                    ${food.size}
                </td>
                <td>
                    <button style="font-size: 10px; margin-top:-20px " class="btn btn-primary btn-sm"
                        click.trigger="decrement(food.id)" type="button"> <span class="fa fa-minus"></span></button>
                    <p>${food.amount}</p>
                    <button style="font-size: 10px; margin-top: -20px " class="btn btn-primary btn-sm"
                        click.trigger="increment(food.id)" type="button"> <span class="fa fa-plus"></span></button>
                </td>
                <td>
                    ${food.foodType}
                </td>
                <td>
                    ${food.price}€
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-success" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Add to cart
                        </button>
                        <div class="dropdown-menu" style="padding:50px; background-color:rgb(226, 215, 119)">
                            <h6 class="text-center text red">Want to add something more...? ;)</h6>
                            <a style="margin:30px; padding:5px; background-color:rgb(226, 215, 119)"
                                class="dropdown-item" repeat.for="ingredient of _ingredients"
                                if.bind="food.name === ingredient.food">
                                ${ingredient.name} ${ingredient.price}€
                                <div style="float:right" class="checkbox">
                                    <label><input type="checkbox" model.bind="ingredient.id"
                                            checked.bind="selectedIngredients"></label>
                                </div>
                            </a>
                            <br>
                            <button style="margin:auto; display:block" type="button" class="btn btn-success"
                                click.delegate="addToCart(food)">Add to cart</button>
                        </div>
                    </div>
                </td>
                <td>
                    <a if.bind="isAdmin" route-href="route: foods-edit; params.bind: { id: food.id }">Edit</a>
                    <span if.bind="isAdmin">|</span>
                    <a route-href="route: foods-details; params.bind: { id: food.id }">Details</a>
                    <button style="float: right" if.bind="isAdmin" click.trigger="deleteOnClick(food)" type="button"
                        class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</template>
