<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1>Details</h1>

    <div>
        <h4>Bill</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Number
            </dt>
            <dd class="col-sm-10">
                ${bill.number}
            </dd>
            <dt class="col-sm-2">
                Time issued
            </dt>
            <dd class="col-sm-10">
                ${bill.timeIssued}
            </dd>
            <dt class="col-sm-2">
                Sum
            </dt>
            <dd class="col-sm-10">
                ${bill.sum}€
            </dd>
            <dt class="col-sm-2">
                Order
            </dt>
            <dd class="col-sm-10">
                #${bill.order}
            </dd>
            <dt class="col-sm-2">
                Person
            </dt>
            <dd class="col-sm-10">
                ${bill.person}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: bills-edit; params.bind: { id: bill.id }">Edit</a> |
        <a route-href="route: bills-index; params.bind: { }">Back to List</a>
    </div>
</template>
