<template>
    <h1>Log-in</h1>
    <div class="row">
        <div class="col-md-6">
            <section>
                <form id="account" method="post" submit.trigger="onSubmit($event)">
                    <h4 if.bind="_errorMessage != null" style="color:red;">${_errorMessage}</h4>
                    <hr />
                    <div class="form-group">
                        <label for="Input_Email">Email</label>
                        <input class="form-control" type="email" value.bind="_email" />
                    </div>
                    <div class="form-group">
                        <label for="Input_Password">Password</label>
                        <input class="form-control" type="password" value.bind="_password" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a route-href="route: account-register; params.bind: {}">Register as a new user</a>
                        </p>
                        <p>
                            <a route-href="route: home; params.bind: {}">Back to quizzes</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</template>
