<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1 class="text-center">Orders</h1>

    <p>
        <a route-href="route: orders-create; params.bind: {}">Create a new order</a>
    </p>

    <div>
        <a route-href="route: foods-index; params.bind: {}">Back to foods</a>
    </div>
    <div>
        <a route-href="route: drinks-index; params.bind: {}">Back to drinks</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Order status
                </th>
                <th>
                    Time created
                </th>
                <th>
                    Restaurant
                </th>
                <th>
                    Order type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="order of _orders">
                <td>
                    #${order.number}
                </td>
                <td>
                    ${order.orderStatus}
                </td>
                <td>
                    ${order.timeCreated}
                </td>
                <td>
                    ${order.restaurant}
                </td>
                <td>
                    ${order.orderType}
                </td>
                <td>
                    <a if.bind="isAdmin" route-href="route: orders-edit; params.bind: { id: order.id }">Edit</a>
                    <span if.bind="isAdmin">|</span>
                    <a route-href="route: orders-details; params.bind: { id: order.id }">Details</a> 
                    <button style="float: right" if.bind="isAdmin" click.trigger="deleteOnClick(order)" type="button"
                        class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</template>
