<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1 class="text-center">Orders</h1>
    <br>
    <p class="text-center">
        <button click.delegate="createOrder($event)" class="btn btn-success">Create a new order</button>
    </p>
    <br>
    <div class="text-center">
        <a route-href="route: foods-index; params.bind: {}">Back to foods</a>
    </div>
    <div class="text-center">
        <a route-href="route: drinks-index; params.bind: {}">Back to drinks</a>
    </div>
    <br>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Order status
                </th>
                <th>
                    Time created
                </th>
                <th>
                    Restaurant
                </th>
                <th>
                    Order type
                </th>
                <th>
                    Payment type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="order of _orders">
                <td>
                    <a route-href="route: orderitems-index; params.bind: { id: order.id }">#${order.number}</a>
                </td>
                <td>
                    ${order.orderStatus}
                </td>
                <td>
                    ${order.timeCreated}
                </td>
                <td>
                    ${order.restaurant} | ${order.area} | ${order.town}
                </td>
                <td>
                    ${order.orderType}
                </td>
                <td>
                    ${order.paymentType}
                </td>
                <td>
                    <a if.bind="isAdmin" route-href="route: orders-edit; params.bind: { id: order.id }">Edit</a>
                    <button style="float: right" click.trigger="deleteOnClick(order)" type="button"
                        class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</template>
